/Run/LotteryFactoryClient.exe
/Run/LotteryFactoryServer.exe
/Run/LotteryFactorySettings.txt
/Run/Qt5Cored.dll
/Run/Qt5Guid.dll
/Run/Qt5Networkd.dll
/Run/Qt5Widgets.dll
/Run/Qt5Widgetsd.dll
/Run/Server should be run first.txt
/Run/libgcc_s_dw2-1.dll
/Run/libstdc++-6.dll
/Run/libwinpthread-1.dll
/Run/lose.txt
/Run/win.txt
